{% extends "layout.html" %}
{% block body %}
<!-- 村リスト表示 -->
<h2>村一覧</h2>
<ul class="list-group list-group-flush">
{% for vil in vils %}
    <div class="card">
        <div class="card-body">
            <!-- 公開レベルが非公開の場合は、別のurlリンクにする -->
            {# リンクから現在日も渡すようにする #}
    {% if vil.public_level.value != public_levels[2].value %}
            <a href="{{ url_for('vil', vil_no=vil.vil_no.getValue(), disp_date=vil.current_date.getValue()) }}">
    {% else %}
            <a href="{{ url_for('vil_private_auth', no=vil.vil_no.getValue(), disp_date=vil.current_date.getValue()) }}">
    {% endif %}
                No.{{ vil.vil_no.getValue() }} {{ vil.vil_name.getValue() }}
            </a>
             {{ vil.current_date_status.name }}({{ vil.current_date.getValue() }}日目) {{ vil.public_level.name }}
        </div>
    </div>
{# for文のelseは、forが1回以上実行された場合、forループ完了後に実行される #}
{% else %}
    村がありません
{% endfor %}
</ul>
<!-- 村作成フォーム -->
<div class="card">
    <div class="card-body">
        <form action="{{ url_for('create_vil') }}" method=post class="add-entry" name="createVil">
            <div class="form-group">
                <label for="InputTitle">タイトル</label>
                <input type="text" class="form-control" id="InputTitle" name="title">
            </div>
            <div class="form-group">
                <label>アクセスレベル</label>
                <select name="level" onchange="displayVilPassword()" >
                    {% for level in public_levels %}
                    <option value="{{ level.value }}">{{ level.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group vil_password" style="display:none;">
                <label for="vilPassword">パスワード(アクセスレベルが「閲覧のみ」「非公開」の場合）</label>
                <input type="text" class="form-control" id="vilPassword" name="vil_password">
            </div>
            <button type="submit" class="btn btn-danger">作成</button>
        </form>
    </div>
</div>
<!-- サイン関連フォーム -->
{% if not 'player_name' in session %}
<div class="card">
    <div class="card-body">
        <form action="{{ url_for('signin') }}" method=post class="signin">
            <div class="form-group">
                <label for="SignId">ID</label>
                <input type="text" class="form-control" id="SignId" name="signInId">
            </div>
            <div class="form-group">
                <label for="SignPassword">パスワード</label>
                <input type="text" class="form-control" id="SignPassword" name="signInPassword">
            </div>
            <button type="submit" class="btn btn-warning">サインイン</button>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form action="{{ url_for('signup') }}" method=post class="signup">
            <div class="form-group">
                <label for="InputId">ID</label>
                <input type="text" class="form-control" id="InputId" name="playerId">
            </div>
            <div class="form-group">
                <label for="InputName">名前</label>
                <input type="text" class="form-control" id="InputName" name="playerName">
            </div>
            <div class="form-group">
                <label for="InputPassword">パスワード</label>
                <input type="text" class="form-control" id="InputPassword" name="playerPassword">
            </div>
            <button type="submit" class="btn btn-warning">サインアップ</button>
        </form>
    </div>
</div>
{% else %}
<div class="card">
    <div class="card-body">
        <form action="{{ url_for('signout') }}" method=get class="signout">
            ID:{{ session['player_id'] }} 名前：{{ session['player_name'] }}
            <button type="submit" class="btn btn-warning">サインアウト</button>
        </form>
    </div>
</div>
{% endif %}
<script>
    function displayVilPassword() {
        let vil_password = document.getElementsByClassName('vil_password')[0]
        let public_level = document.createVil.level
        if (public_level.selectedIndex == 0) {
            vil_password.style.display = 'none';
        } else {
            vil_password.style.display = 'block';
        }
    }
</script>
{% endblock %}