{% extends "layout.html" %}
{% block body %}
<a href="{{ url_for('init') }}">フロントページに戻る</a>
<h2>No.{{ vil.vil_no.getValue() }} {{ vil.vil_name.getValue() }}</h2>

{# 「表示日」の値が必要。この画面の呼び出し元、遷移先すべてで値のやりとりをする必要がある #}

<div class="card">
    <div class="card-body">
{# 開発用に日にちを進める、エピローグに進める、終了するボタンを用意 #}
{% if vil.current_date_status != date_status.エピローグ and vil.current_date_status != date_status.終了 %}
        <a href="{{ url_for('dev_progress_date', vil_no=vil.vil_no.getValue()) }}">(開発用)日にちを進める</a>
{% endif %}
{% if vil.current_date_status != date_status.エピローグ and vil.current_date_status != date_status.終了 %}
        <a href="{{ url_for('dev_progress_epilogue', vil_no=vil.vil_no.getValue()) }}">(開発用)エピローグに進める</a>
{% endif %}
{% if vil.current_date_status == date_status.エピローグ %}
        <a href="{{ url_for('dev_progress_end', vil_no=vil.vil_no.getValue()) }}">(開発用)終了する</a>
{% endif %}
    </div>
</div>

<!-- 日数リスト表示 -->
{% for date in dates.postAllDates() %}
    {# 将来的にはリストボックスかリストボタンなども検討 #}
    {# ステータスも見て、進行中以外なら、その文言を表示。表示日以外はリンク表示 #}
    {# 表示日を渡して村と発言を検索、表示 #}
    {% if date.date_num.getValue() != disp_date %}
    <a href="{{ url_for('vil', vil_no=vil.vil_no.getValue(), disp_date=date.date_num.getValue()) }}">
    {% endif %}
    {% if date.date_status == date_status.プロローグ %}
        プロローグ
    {% elif date.date_status == date_status.エピローグ %}
        エピローグ
    {% elif date.date_status == date_status.終了 %}
        終了
    {% else %}
        {{ date.date_num.getValue() }}日目
    {% endif %}
    {% if date.date_num.getValue() != disp_date %}
    </a>
    {% endif %}
{% endfor %}
<!-- 発言リスト表示 -->
<ul class="list-group list-group-flush">
{% for speech in speeches.postAllSpeeches() %}
    <div class="card">
        <div class="card-body">
            {{ speech.member_title.getValue() }}　{{ speech.member_name.getValue() }}
            <br><br>
            {{ speech.speech_text.getValue()|safe }}
            <br><br>
            <div style="text-align:end">{{ speech.post_datetime.getFormatValue() }} [{{ speech.speech_no.getValue() }}]</div>
            <br><br>
        </div>
    </div>
{# for文のelseは、forが1回以上実行された場合、forループ完了後に実行される #}
{% else %}
    投稿がありません
{% endfor %}
</ul>
<a href="{{ url_for('init') }}">フロントページに戻る</a>
<!-- 発言フォーム -->
{% if vil.current_date_status != date_status.終了 %}
{# 「終了」以外 #}
    {% if vil.public_level == public_level.入村PASS必要 and (session['vil_auth'] != True or session['vil_auth_no'] != vil.vil_no.getValue())  %}
    {# 公開レベルが入村PASS必要の場合、パスワード入力前はパスワード入力フォームを表示する #}
<div class="card">
    <div class="card-body">
        {% if not 'player_name' in session %}
        {# サインイン前 #}
        入村・発言するにはサインインしてください。
        {% else %}
        {# サインイン後 #}
        <form action="{{ url_for('vil_readonly_password') }}" method=post class="add-entry">
            <div class="form-group">
                <label for="VilPassword">パスワード</label>
                <input type="text" class="form-control" id="VilPassword" name="vil_password">
            </div>
            <button type="submit" class="btn btn-warning">認証</button>
            <input type="hidden" name="vil_no" value="{{ vil.vil_no.getValue() }}">
            <input type="hidden" name="vil_date" value="{{ vil.current_date.getValue() }}">
        </form>
        {% endif %}
    </div>
</div>
    {% elif vil.public_level == public_level.入村PASS必要 and session['vil_auth'] == True and session['vil_auth_no'] == vil.vil_no.getValue() %}
    {# 公開レベルが入村PASS必要の場合で、PASS入力後　発言フォームを表示する #}
<div class="card">
    <div class="card-body">
        {% if not 'player_name' in session %}
        {# サインイン前 #}
        入村・発言するにはサインインしてください。
        {% else %}
        {# サインイン後 #}
            {% if self_info != None %}
            {# 入村後、発言フォームを表示する #}
        <div class="form-group">
            <label>肩書き：</label>{{ self_info.member_title.getValue() }}<br>
            <label>名前：</label>{{ self_info.member_name.getValue() }}<br>
        {% if html_position_select != None %}
            {# プロローグでは希望役職選択を表示する #}
            {% autoescape false %}{{ html_position_select }}{% endautoescape  %}
        {% endif %}
            {# 進行中では投票先選択・能力行使先選択を表示する #}
        {% if html_vote_select != None %}
            {% autoescape false %}{{ html_vote_select }}{% endautoescape  %}
        {% endif %}
        {% if html_use_ability_select != None %}
            {% autoescape false %}{{ html_use_ability_select }}{% endautoescape  %}
        {% endif %}
            <form action="{{ url_for('speech_add') }}" method=post class="add-entry">
                <label for="InputTextRO">本文</label>
                <textarea class="form-control" id="InputTextRO" name="text" rows="3"></textarea>
                <button type="submit" class="btn btn-danger">発言</button>
                <input type="hidden" name="vil_no" value="{{ vil.vil_no.getValue() }}">
                <input type="hidden" name="vil_date" value="{{ vil.current_date.getValue() }}">
                <input type="hidden" name="speech_type" value="{{ speech_type.通常発言.value }}">{# TODO タブで発言種別を選択できるようにする #}
            </form>
            {{ position_description }}
        </div>
            {% else %}
            {# 入村前、入村用フォームを表示 #}
        <form action="{{ url_for('member_join') }}" method=post class="add-entry">
            <div class="form-group">
                <label for="InputMemberTitle">肩書き</label>
                <input type="text" class="form-control" id="InputMemberTitle" name="member_title">
                <label for="InputMemberName">名前</label>
                <input type="text" class="form-control" id="InputMemberName" name="member_name">
                <label for="InputTextEnterVil">本文</label>
                <textarea class="form-control" id="InputTextEnterVil" name="text" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-danger">入村</button>
            <input type="hidden" name="vil_no" value="{{ vil.vil_no.getValue() }}">
            <input type="hidden" name="vil_date" value="{{ vil.current_date.getValue() }}">
            <input type="hidden" name="speech_type" value="{{ speech_type.通常発言.value }}">
        </form>
            {% endif %}
        {% endif %}
    </div>
</div>
    {% elif vil.public_level != public_level.入村PASS必要 %}
    {# 公開レベルが入村PASS必要以外の場合（公開／閲覧PASS必要） #}
<div class="card">
    <div class="card-body">
        {% if not 'player_name' in session %}
        {# サインイン前 #}
        入村・発言するにはサインインしてください。
        {% else %}
        {# サインイン後 #}
            {% if self_info != None %}
            {# 入村後、発言フォームを表示する #}
        <div class="form-group">
            <label>肩書き：</label>{{ self_info.member_title.getValue() }}
            <label>名前：</label>{{ self_info.member_name.getValue() }}<br>
                {% if html_position_select != None %}
                    {# プロローグでは希望役職選択を表示する #}
                    {% autoescape false %}{{ html_position_select }}{% endautoescape  %}
                {% endif %}
                {# 進行中では投票先選択・能力行使先選択を表示する #}
                {% if html_vote_select != None %}
                    {% autoescape false %}{{ html_vote_select }}{% endautoescape  %}
                {% endif %}
                {% if html_use_ability_select != None %}
                    {% autoescape false %}{{ html_use_ability_select }}{% endautoescape  %}
                {% endif %}
            <form action="{{ url_for('speech_add') }}" method=post class="add-entry">
                <label for="InputText">本文</label>
                <textarea class="form-control" id="InputText" name="text" rows="3"></textarea>
                <button type="submit" class="btn btn-danger">発言</button>
                <input type="hidden" name="vil_no" value="{{ vil.vil_no.getValue() }}">
                <input type="hidden" name="vil_date" value="{{ vil.current_date.getValue() }}">
                <input type="hidden" name="speech_type" value="{{ speech_type.通常発言.value }}">{# TODO タブで発言種別を選択できるようにする #}
            </form>
            {{ position_description }}
        </div>
            {% else %}
            {# 入村前、入村用フォームを表示 #}
        <form action="{{ url_for('member_join') }}" method=post class="add-entry">
            <div class="form-group">
                <label for="InputMemberTitle">肩書き</label>
                <input type="text" class="form-control" id="InputMemberTitle" name="member_title">
                <label for="InputMemberName">名前</label>
                <input type="text" class="form-control" id="InputMemberName" name="member_name">
                <label for="InputTextEnterVil">本文</label>
                <textarea class="form-control" id="InputTextEnterVil" name="text" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-danger">入村</button>
            <input type="hidden" name="vil_no" value="{{ vil.vil_no.getValue() }}">
            <input type="hidden" name="vil_date" value="{{ vil.current_date.getValue() }}">
            <input type="hidden" name="speech_type" value="{{ speech_type.通常発言.value }}">
        </form>
            {% endif %}
        {% endif %}
    </div>
</div>
    {% endif %}
{% endif %}
<!-- サイン関連フォーム -->
{% if not 'player_name' in session %}
<div class="card">
    <div class="card-body">
        <form action="{{ url_for('signin') }}" method=post class="signin">
            <div class="form-group">
                <label for="SignId">ID</label>
                <input type="text" class="form-control" id="SignId" name="signInId">
            </div>
            <div class="form-group">
                <label for="SignPassword">パスワード</label>
                <input type="text" class="form-control" id="SignPassword" name="signInPassword">
            </div>
            <button type="submit" class="btn btn-warning">サインイン</button>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        ユーザー登録がまだの場合、ここに使用したIDとパスワードを入力してサインアップを行ってください。
        <form action="{{ url_for('signup') }}" method=post class="signup">
            <div class="form-group">
                <label for="InputId">ID</label>
                <input type="text" class="form-control" id="InputId" name="playerId">
            </div>
            <div class="form-group">
                <label for="InputName">名前</label>
                <input type="text" class="form-control" id="InputName" name="playerName">
            </div>
            <div class="form-group">
                <label for="InputPassword">パスワード</label>
                <input type="text" class="form-control" id="InputPassword" name="playerPassword">
            </div>
            <button type="submit" class="btn btn-warning">サインアップ</button>
        </form>
    </div>
</div>
{% else %}
<div class="card">
    <div class="card-body">
        <form action="{{ url_for('signout') }}" method=get class="signout">
            ID:{{ session['player_id'] }} 名前：{{ session['player_name'] }}
            <button type="submit" class="btn btn-warning">サインアウト</button>
        </form>
    </div>
</div>
{% endif %}
<!-- 参加者リスト(フィルタ)表示 -->
{% autoescape false %}{{ members_states }}{% endautoescape %}
<a href="{{ url_for('init') }}">プロントページに戻る</a>
{% endblock %}