{% extends "layout.html" %}
{% block body %}
<a href="{{ url_for('init') }}">フロントページに戻る</a>
<h2>No.{{ vil.vil_no.getValue() }} {{ vil.vil_name.getValue() }}</h2>
<!-- 投稿リスト表示 -->
<ul class="list-group list-group-flush">
{% for speech in vil.postAllSpeechs() %}
    <div class="card">
        <div class="card-body">
          {{ speech.speechText.getValue()|safe }}
          <br><br>
          投稿日時 {{ speech.postDateTime.getFormatValue() }} 投稿者 {{ speech.playerId.getValue() }} [{{ speech.speechNo.getValue() }}]
          <br><br>
        </div>
    </div>
{# for文のelseは、forが1回以上実行された場合、forループ完了後に実行される #}
{% else %}
    投稿がありません
{% endfor %}
</ul>
<a href="{{ url_for('init') }}">フロントページに戻る</a>
<!-- 投稿フォーム -->
<!-- 公開レベルが閲覧のみの場合、パスワード入力前はパスワード入力フォームを表示する -->
{% if vil.public_level == PUBLIC_LEVEL_READONLY and (session['vil_auth'] != True or session['vil_auth_no'] != vil.vil_no.getValue())  %}
<div class="card">
    <div class="card-body">
        <form action="{{ url_for('vil_readonly_password') }}" method=post class="add-entry">
            <div class="form-group">
                <label for="VilPassword">パスワード</label>
                <input type="text" class="form-control" id="VilPassword" name="vil_password">
            </div>
            <button type="submit" class="btn btn-primary">認証</button>
            <input type="hidden" name="vil_no" value="{{ vil.vil_no.getValue() }}">
        </form>
    </div>
</div>
{% elif vil.public_level == PUBLIC_LEVEL_READONLY and session['vil_auth'] == True and session['vil_auth_no'] == vil.vil_no.getValue() %}
<div class="card">
    <div class="card-body">
        <form action="{{ url_for('speech_add') }}" method=post class="add-entry">
            <div class="form-group">
                <label for="InputTextRO">本文</label>
                <textarea class="form-control" id="InputTextRO" name="text" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">作成</button>
            <input type="hidden" name="vil_no" value="{{ vil.vil_no.getValue() }}">
        </form>
    </div>
</div>
{% elif vil.public_level != PUBLIC_LEVEL_READONLY %}
<div class="card">
    <div class="card-body">
        <form action="{{ url_for('speech_add') }}" method=post class="add-entry">
            <div class="form-group">
                <label for="InputText">本文</label>
                <textarea class="form-control" id="InputText" name="text" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">作成</button>
            <input type="hidden" name="vil_no" value="{{ vil.vil_no.getValue() }}">
        </form>
    </div>
</div>
{% endif %}
<!-- サイン関連フォーム -->
{% if not 'player_name' in session %}
<div class="card">
    <div class="card-body">
        <form action="{{ url_for('signin') }}" method=post class="signin">
            <div class="form-group">
                <label for="SignId">ID</label>
                <input type="text" class="form-control" id="SignId" name="signInId">
            </div>
            <div class="form-group">
                <label for="SignPassword">パスワード</label>
                <input type="text" class="form-control" id="SignPassword" name="signInPassword">
            </div>
            <button type="submit" class="btn btn-primary">サインイン</button>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form action="{{ url_for('signup') }}" method=post class="signup">
            <div class="form-group">
                <label for="InputId">ID</label>
                <input type="text" class="form-control" id="InputId" name="playerId">
            </div>
            <div class="form-group">
                <label for="InputName">名前</label>
                <input type="text" class="form-control" id="InputName" name="playerName">
            </div>
            <div class="form-group">
                <label for="InputPassword">パスワード</label>
                <input type="text" class="form-control" id="InputPassword" name="playerPassword">
            </div>
            <button type="submit" class="btn btn-primary">サインアップ</button>
        </form>
    </div>
</div>
{% else %}
<div class="card">
    <div class="card-body">
        <form action="{{ url_for('signout') }}" method=get class="signout">
            ID:{{ session['player_id'] }} 名前：{{ session['player_name'] }}
            <button type="submit" class="btn btn-primary">サインアウト</button>
        </form>
    </div>
</div>
{% endif %}
<a href="{{ url_for('init') }}">プロントページに戻る</a>
{% endblock %}